.navigation__navigationItem {
  padding: 5px;
  margin: 5px auto;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  color: rgb(218, 218, 218);
  box-shadow: 3px 5px 10px black;
  transition: all .2s ease;
}

.navigation__navigationItem:hover {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  color: rgb(218, 218, 218);
}

.navigation__navigationItem:active {
  border: 1px solid rgb(218, 218, 218);
  color: rgb(218, 218, 218);
  box-shadow: 0 0 0 black;
}

@media(min-width: 580px) {
  .navigation__navigationItem {
    padding: 5px;
    margin: 10px auto;
  }
}